.advantages {
  background-color: $ghost-white;
}

.advantages__wrapper {
  max-width: 1040px;
  padding-top: 97px;
  padding-bottom: 134px;
  margin: 0 auto;
  padding-right: 0;
  padding-left: 0;

  @include vp-1199 {
    padding-top: 92px;
    padding-right: 45px;
    padding-left: 45px;
    padding-bottom: 93px;
  }

  @include vp-767 {
    padding-top: 64px;
    padding-right: 0;
    padding-bottom: 64px;
    padding-left: 0;
  }
}

.advantages h2 {
  font-family: $ff-alumni;
  font-weight: 600;
  font-size: 54px;
  line-height: 65px;
  letter-spacing: 0.03em;
  color: $sapphire;
  text-align: center;
  margin: 0;
  margin-bottom: 44px;
  margin-left: 12px;

  @include vp-1199 {
    font-weight: 600;
    font-size: 42px;
    line-height: 50px;
    margin-left: -22px;
    margin-bottom: 42px;
  }

  @include vp-767 {
    font-size: 32px;
    line-height: 38px;
    margin-left: -17px;
    margin-bottom: 43px;
  }
}

.advantages__list {
  display: grid;
  grid-template-columns: calc(360 / 1040 * 100%) calc(240 / 1040 * 100%) calc(360 / 1040 * 100%);
  column-gap: calc(41 / 1040 * 100%);
  row-gap: 148px;
  list-style-type: none;
  padding: 0;
  margin: 0;

  @include vp-1199 {
    grid-template-columns: 1fr 1fr;
    column-gap: 29px;
    row-gap: 44px;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
    gap: 35px;
  }
}

.advantages__item {
  display: flex;
  gap: 30px;
  position: relative;
  margin-left: 20px;

  @include vp-1199 {
    margin-left: 0;
  }

  @include vp-767 {
    flex-direction: column;
    align-items: center;
    gap: 6px;
    // padding-top: 40px;
    padding-right: 45px;
    padding-left: 45px;
  }
}

.advantages__item:nth-child(1)::after {
  position: absolute;
  content: "";
  height: 2px;
  width: 100%;
  bottom: -78px;
  left: -20px;
  background-color: $crimson-02;

  @include vp-1199 {
    display: none;
  }
}

.advantages__item:nth-child(2)::after {
  position: absolute;
  content: "";
  height: 2px;
  width: 100%;
  bottom: -78px;
  // left: -20px;
  background-color: $crimson-02;

  @include vp-1199 {
    display: none;
  }
}

.advantages__item-title p {
  font-family: $ff-roboto;
  font-weight: 700;
  font-size: 71px;
  line-height: 106px;
  background: $text-gradient-second;
  background-clip: text;
  color: transparent;
  margin: 0;
  line-height: 1;
  // word-break: break-word;

  @include vp-1199 {
    font-weight: 700;
    font-size: 58px;
  }
}

.advantages__item-title span {
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: $persian-blue;
  margin-top: -4px;

  @include vp-1199 {
    margin-top: -4px;
  }

  @include vp-767 {
    text-align: center;
  }
}

.advantages__desc {
  @include vp-767 {
    text-align: center;
  }
}

.advantages__desc h3 {
  font-weight: 700;
  font-size: 22px;
  line-height: 33px;
  margin: 0;
  margin-top: 4px;

  @include vp-1199 {
    font-size: 20px;
    line-height: 30px;
    margin-top: 0;
  }

  @include vp-767 {
    margin-bottom: 2px;
  }
}

.advantages__desc p {
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  margin: 0;
  margin-top: 6px;

  @include vp-1199 {
    margin-top: 2px;
  }

  @include vp-767 {
    margin-top: 0;
  }
}

.advantages__desc p br {
  display: none;

  @include vp-767 {
    display: block;
  }
}

.advantages__item-gym {
  grid-column: 2/3;
  grid-row: 1/3;
  background-color: $resolution-blue;
  color: white;
  // display: flex;
  align-items: center;
  text-align: center;
  margin-top: 11px;
  margin-bottom: 6px;

  @include vp-1199 {
    grid-column: -1/1;
    grid-row: auto;
    margin-top: 0;
    margin-right: 118px;
    margin-bottom: -2px;
    margin-left: 118px;
  }

  @include vp-767 {
    margin-top: 9px;
    margin-right: 0;
    margin-bottom: 6px;
    margin-left: 0;
  }
}

.advantages__item-gym-wrapper {
  padding-top: 54px;
  padding-right: 20px;
  // padding-bottom: 64px;
  padding-left: 20px;

  @include vp-1199 {
    padding-top: 32px;
    padding-right: 113px;
    padding-bottom: 38px;
    padding-left: 113px;
  }

  @include vp-767 {
    padding-top: 38px;
    padding-right: 54px;
    padding-bottom: 43px;
    padding-left: 54px;
  }
}

.advantages__item-gym h3 {
  font-weight: 700;
  font-size: 74px;
  // line-height: 111px;
  line-height: 1;
  margin: 0;
  margin-left: -6px;

  @include vp-767 {
    margin-bottom: -6px;
    margin-left: -4px;
  }
}

.advantages__item-gym span {
  display: block;
  font-weight: 700;
  font-size: 26px;
  line-height: 39px;
  margin-top: 2px;
  margin-bottom: 32px;

  @include vp-1199 {
    font-size: 22px;
    line-height: 33px;
    margin-top: 0;
    margin-bottom: 14px;
  }

  @include vp-767 {
    margin-bottom: 9px
  }
}

.advantages__item-gym p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
}
