.promo__container {
  max-width: 1250px;
  padding-top: 0px;
  padding-right: 45px;
  padding-bottom: 0px;
  padding-left: 45px;

  @include vp-767 {
    padding-right: 15px;
    padding-left: 15px;
  }
}

.promo__wrapper {
  display: grid;
  grid-template-columns: calc(500 / 1160 * 100%) calc(660 / 1160 * 100%);
  padding-top: 120px;
  padding-bottom: 53px;

  @include vp-1199 {
    padding-top: 99px;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
    padding-top: 70px;
    padding-bottom: 35px;
  }
}

.promo__text {
  background-color: $torch-red;
  padding-top: 85px;
  padding-right: 77px;
  padding-bottom: 85px;
  padding-left: 77px;

  @include vp-1199 {
    display: grid;
    padding-top: 51px;
    padding-right: 44px;
    padding-bottom: 50px;
    padding-left: 44px;
  }
}

.promo__text-intro {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-bottom: 1px;

  @include vp-1199 {
    gap: 35px;
    margin-bottom: 0;
  }
}

.promo__text-intro h2 {
  font-family: $ff-alumni;
  font-weight: 600;
  font-size: 82px;
  line-height: 79px;
  letter-spacing: 0.03em;
  color: $white;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-left: 12px;

  @include vp-1199 {
    font-size: 48px;
    line-height: 46px;
    margin-left: 7px;
  }

  @include vp-767 {
    line-height: 47px;
    margin-top: -2px;
    margin-left: 6px;
    text-align: start;
  }
}

.promo__text-intro dl {
  justify-self: end;
  margin: 0;
  margin-top: -5px;
  margin-right: 2px;

  @include vp-1199 {
    justify-self: start;
    margin-top: -4px;
    margin-right: 2px;
  }

  @include vp-767 {
    margin-right: 1px;
    justify-self: end;
  }
}

.promo__text-intro dt {
  font-family: $ff-roboto;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: $white;

  @include vp-1199 {
    font-size: 12px;
    line-height: 18px;
  }
}

.promo__text-intro dd {
  position: relative;
  display: inline-flex;
  align-items: center;
  font-family: $ff-roboto;
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  color: $white;
  margin: 0;
  margin-bottom: 8px;

  @include vp-1199 {
    font-size: 24px;
    line-height: 36px;
    margin-top: -1px;
    margin-bottom: 0;
  }
}

.promo__text-intro dd::after {
  position: absolute;
  content: "";
  top: 5px;
  width: 100%;
  height: 1px;
  background-color: $white;

  @include vp-1199 {
    top: 2px;
  }
}

.promo__text-intro small {
  font-family: $ff-roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: $white;
  margin-top: -2px;
  margin-left: 7px;

  @include vp-1199 {
    font-size: 10px;
    line-height: 12px;
    margin-top: 0;
    margin-left: 4px;
  }
}

.promo__text p {
  font-family: $ff-roboto;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: $white;
  margin: 0;
  margin-bottom: 46px;
  margin-left: 1px;

  @include vp-1199 {
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 30px;
    margin-left: 1px;
  }

  @include vp-767 {
    margin-left: 0;
  }
}

.promo__text a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 71px;
  font-family: $ff-roboto;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $white;
  border: 4px solid $white;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;

  @include vp-1199 {
    min-height: 41px;
    font-size: 10px;
    line-height: 12px;
    border: 2px solid $white;
    padding-top: 11px;
    padding-left: 8px;
    align-self: end;
  }

  @include hover-focus {
    color: $sapphire;
    background-color: $white;
    border-color: $white;
  }
}

.promo__imgage {
  background-color: $midnight-express;
  display: flex;
  align-items: center;
  justify-content: center;

  @include vp-767 {
    display: block;
    width: 100%;
  }
}

.promo__imgage img {
  margin: auto;

  @include vp-767 {
    width: 100%;
  }
}
